<div class="position-relative container">

  <div class="row justify-content-center">
    <div class="card col mt-sm-3 col-md-8">
      <div class="card-body">
        <h3 class="mb-0">Developers Directory</h3>
        <div class="form-group">
          <div class="form-label">
            <div *ngIf="query" class="form-label">
              <strong>Search for:</strong>
              {{ query }}
            </div>
            <label>
              <input aria-label="search" class="form-control mt-2" type="text" />
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="position-absolute container" style="left: 0; z-index: 10">
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5">
        <div class="list-group">
          <a *ngFor="let developer of developers"
             (click)="showDeveloper(developer)"
             [style.backgroundColor]="developer.highlight ? '#EEEEEE' : '#FFFFFF'"
             href="#"
             class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="media">
              <img class="mr-4 rounded align-self-center img-fluid" style="width: 70px;" [src]="'./assets/images/' + developer.shortName + '_tn.jpg'" alt="" />
              <div class="media-body align-self-center">
                <h5 class="m-0">{{ developer.name }}</h5>
                {{ developer.reKnown }}
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
